---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Testimonial from '../components/Testimonial.astro'
---

<Layout title="Simon Haïoun-Viet">
  <main>
    <Hero />
		<Testimonial />
  </main>
</Layout>

<style>
  :root {
    --font-main: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text',
      -apple-system, system-ui, sans-serif;
  }

  main {
    font-family: var(--font-main);
    background-color: #0b192e;
    color: #8892af;
  }
</style>
