---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Skills from '../components/Skills.astro'
import Experiences from '../components/Experiences.astro'
import Contact from '../components/Contact.astro'
---

<Layout title="Simon Haïoun-Viet">
  <main>
    <div
      class="w-10 z-50 fixed text-sm bottom-0 left-2.5 right-auto hidden lg:block after:content-[''] after:block after:w-px after:h-20 after:bg-slate-400 after:mx-auto after:my-O"
    >
      <a
        class="p-2.5 tracking-widest email-link hover:text-white hover:cursor-pointer hover:scale-105"
        href="mailto:simon.haiounviet@gmail.com"
      >
        simon.haiounviet@gmail.com
      </a>
    </div>

    <div class="mx-auto max-w-full sm:px-6 lg:px-12 pb-10">
      <Hero />
      <About />
      <Skills />
      <Experiences />
      <Contact />
    </div>
  </main>
</Layout>

<style>
  :root {
    --font-main: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text',
      -apple-system, system-ui, sans-serif;
  }
  main {
    font-family: var(--font-main);
    background-color: #0b192e;
    color: rgb(156 163 175);
  }
  .email-link {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
</style>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  h1.with-anim {
    position: relative;
  }
  h1.with-anim::before,
  h1.with-anim.with-anim--right::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2aWV3Qm94PSIwIDAgMzAgMzUiPgogICAgPHBhdGgKICAgICAgICAgICAgZmlsbD0ibm9uZSIKICAgICAgICAgICAgc3Ryb2tlPSJ3aGl0ZSIKICAgICAgICAgICAgZD0iTTE0LjkyMSwyLjI3IDI4LjY2NywyNS41IDEuMTc1LDI1LjUgeiIKICAgIC8+Cjwvc3ZnPg==)
      0% 0% / 40px;
    animation: 4s linear 0s infinite normal none running rotate;
  }
  h1.with-anim.with-anim--right::after {
    right: 0px;
    left: unset;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .button-with-anim {
    background-image: var(--accent-gradient);
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .button-with-anim:is(:hover, :focus-within) {
    color: #fff;
    background-position: 0;
  }
</style>
