---
import { Code } from 'astro/components'
import Header from './Header.astro'

const code = `
export const Welcome = () => {
  const [visitor, setVisitor] = useState<string>('Michel')

  return (
    <div>
      Hey {visitor}, welcome to my portfolio!
      I hope you'll enjoy your visit :)
    </div>
  )
}
`
---

<div>
  <Header />
  <div class="relative isolate overflow-hidden">
    <div
      class="mx-auto max-w-7xl pt-10 pb-24 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:py-40 lg:px-8"
    >
      <div class="px-6 lg:px-0 lg:pt-4 ml-5 xl:ml-0">
        <div class="mx-auto max-w-2xl">
          <div class="max-w-lg">
            <h1
              class="mt-10 text-4xl font-bold tracking-tight text-gray-200 sm:text-6xl animate-[pulse_1s_ease-in-out_2]"
            >
              Simon Haïoun-Viet
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-400">
              Je suis passioné de développement web. Au fur et à mesure de mes
              missions, je me suis spécialisé dans le front-end. J'ai beaucoup
              travaillé avec <strong class="text-gray-300">Angular</strong> et
              <strong class="text-gray-300">React</strong>, autant dans le
              domaine professionnel que personnel.
            </p>
            <div class="mt-10 flex items-center gap-x-6">
              <a
                href="#aboutme"
                class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 animate-[bounce_1s_ease-in-out_1.5]"
              >
                En savoir plus
              </a>

              <a
                href="https://www.linkedin.com/in/simonhaiounviet/"
                target="_blank"
                class="text-base font-semibold leading-7 text-gray-100"
              >
                <img src="/linkedin.png" class="inline mr-1" width="16" />
                Linkedin
                <span class="animate-[pulse_1s_ease-in-out_2]" aria-hidden="true">→</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-20 xl:w-screen sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0"
      >
        <div class="shadow-lg md:rounded-3xl">
          <div
            class="bg-indigo-500 [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]"
          >
            <div class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0">
              <div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
                <div class="w-screen overflow-hidden rounded-tl-xl code-block">
                  <div class="flex bg-gray-900 ring-1 ring-white/5">
                    <div
                      class="-mb-px flex text-sm font-medium leading-6 text-gray-400"
                    >
                      <div
                        class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 py-2 px-4 text-white"
                      >
                        Welcome.tsx
                      </div>
                      <div class="border-r border-gray-600/10 py-2 px-4">
                        App.tsx
                      </div>
                    </div>
                  </div>
                  <div class="px-6 pt-6 pb-14 bg-code-block">
                    <Code code={code} lang="tsx" theme="nord" wrap={true} />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .code-block {
    width: auto;
  }
  .bg-code-block {
    background-color: #2e3440ff;
  }
</style>
