---
import Card from './shared/Card.astro'
import Outline from './shared/Outline.astro'

const skills = [
  {
    title: 'React',
    image: '/react.png',
  },
  {
    title: 'Next',
    image: '/next.svg',
  },
  {
    title: 'Angular',
    image: '/angular.png',
  },
  {
    title: 'Typescript',
    image: '/ts.png',
  },
  {
    title: 'Javascript',
    image: '/js.png',
  },
  {
    title: 'Redux / NgRx',
    image: '/redux.png',
  },
  {
    title: 'RxJS',
    image: '/rxjs.png',
  },
  {
    title: 'Git',
    image: '/git.png',
  },
  {
    title: 'Nx',
    image: '/nx.png',
  },
  {
    title: 'AWS',
    image: '/aws.png',
  },
  {
    title: 'Gitlab CI/CD',
    image: '/gitlab.png',
  },
  {
    title: 'Node.js',
    image: '/node.png',
  },
]
---

<div id="skills" class="mx-auto max-w-screen-xl my-16 pb-24 opacity-0">
  <h1
    id="skills-title"
    class="mt-2 flex items-center text-3xl uppercase text-white leading-8 tracking-tight sm:text-4xl"
  >
    Mes
    <Outline
      text="compétences"
      classNames="bg-indigo-500 text-gray-950 p-2.5 ml-2"
    />
  </h1>
  <ul
    role="list"
    class="mx-auto mt-10 grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-10 lg:grid-cols-3"
  >
    {skills.map((skill) => <Card title={skill.title} image={skill.image} />)}
  </ul>
</div>

<script>
  import { observe } from '../observe'
  observe('skills')
  observe('skills-title', 'animate-slideRight')
</script>
